.welcome {
  margin: 12em 0 10em 0;

  & > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > * {
      margin-bottom: 30px;
    }

    p {
      padding: 0 32px;
    }

    @include mq("tablet-wide", max) {
      .links img {
        width: 150px;
      }
    }
  }

  .image-block {
    position: relative;

    &__img {
      top: 0;
      left: 0;
      @include mq("tablet-wide", max) {
        margin-left: -100px;
      }
    }

    &__roundel {
      width: 548px;
      height: 548px;
      display: block;
      position: absolute;
      bottom: 0;
      border-radius: 100%;
      background-color: #e8effd;
      z-index: -1;
      @include mq("tablet-wide", max) {
        margin-left: -100px;
      }
    }
    &__img-buttons {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 20%;
      left: 20%;
    }
  }
}
